user nginx;
error_log /var/log/nginx/error.log warn;
pid /var/run/nginx.pid;

events {
    worker_connections  1024;
}

http {

  server {
    listen ${PUBLIC_PORT};
    access_log /var/log/nginx/access.log;

    location / {
        proxy_pass http://wshub:${PORT_1};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
    }


  }
}
